#!/usr/bin/groovy
@Library('github.com/vizuri/openshift-cicd-pipeline@master')


def javaDeliveryPipeline = new com.vizuri.openshift.JavaDeliveryPipeline2();


javaDeliveryPipeline {
	app_name = 'customer-service'
	imageBase = "registry.kee.vizuri.com";
	imageNamespace = "student_1";
	registryUsername = "XXX"
	registryPassword = "XXX"
	
	ocpAppSuffix = "apps.ocp-nonprod-01.kee.vizuri.com"
	ocp_dev_cluster = "ocp-nonprod-01"
	ocp_dev_project = "${registryUsername}-customer-dev"
	ocp_test_cluster = "ocp-nonprod-01"
	ocp_test_project = "${registryUsername}-customer-test"
	ocp_prod_cluster = "ocp-nonprod-01"
	ocp_prod_project = "${registryUsername}-customer-prod"
}